.page-header {
    height: 100vh;

    margin-bottom: 95px;

    position: relative;
    
    z-index: 0;
}

.page-header-background {
    width: auto;
    height: 100vh;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 0;
}

.page-header-content {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: flex-end;

    height: 100vh;

    padding: 0px 0px 85px;

    position: relative;
    
    z-index: 1;
}