.contact {
    background: $black;
    box-shadow: calculateRem(12px) calculateRem(12px) calculateRem(12px) rgba($black, 0.75);

    padding: calculateRem(76px) calculateRem(32px) calculateRem(52px) calculateRem(32px);

    @include media-breakpoint-up(md) {
        padding: calculateRem(76px) calculateRem(72px) calculateRem(52px) calculateRem(64px);
        margin-bottom: calculateRem(-373px);
    }

    .form-group {
        margin-bottom: calculateRem(30px);
    }
}