.content-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;

    margin-bottom: 99px;
    
    position: relative;
    
    z-index: 0;

    &.is-reversed {
        .content-card-body {
            order: -1;
        }
    }
}

.content-card-image {
    box-shadow: 12px 12px 12px rgba($black, 0.75);
    
    display: block;

    flex: 0 0 33.333%;

    position: relative;
    
    z-index: 1;

    .is-reversed & {
        box-shadow: -12px 12px 12px rgba($black, 0.75);
    }
}

.content-card-body {
    background: #323131;
    box-shadow: 12px 12px 12px rgba($black, 0.75);

    flex: 1 1 66.666%;
    
    padding: 110px 85px;

    position: relative;

    z-index: 0;

    .is-reversed & {
        box-shadow: -12px -12px 12px rgba($black, 0.75);
    }
}