header {
    .navbar {
        &:after {
            content: '';

            background: linear-gradient(rgba($black, 1), rgba($black, 0.666), rgba($black, 0.333), transparent);
            opacity: 0;
            
            display: block;
            
            height: 110%;
            width: 100%;
            
            position: absolute;
            top: -50px;
            right: 0;
            left: 0;
            z-index: -1;

            transition: all 333ms linear;
        }
    }

    &.is-scrolled {
        .navbar {
            &:after {
                opacity: 1;
                top: 0;
            }
        }
    }
}

.navbar-brand {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    width: auto;
    height: auto;
    flex: 0 0 auto;
}

.navbar-brand-logo {
    margin-right: 7px;
    
    width: auto;
    height: 72px;

    @include media-breakpoint-up(md) {
        height: 92px;
    }
}

.navbar-brand-text {
    color: #818181;

    @include fontSize(22px);
    font-family: $font-family-serif;
    text-shadow: 0 0 #818181;

    transition: color 333ms ease-out;
    &:hover {
        color: $white;
    }
}

.nav-link {
    svg {
        path {
            transition: fill 333ms ease-out;
        }
    }
    &:hover {
        svg {
            path {
                fill: $white;
            }
        }
    }
}