.social-links {
    .nav-link {
        color: #818181;

        font-size: 18px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;

        padding-left: 0;
        padding-right: 0;

        svg {
            width: 39px;
            height: 39px;

            margin-right: 24px;
        }
    }
}