.stories {
    background: linear-gradient(90deg, rgba($black, 0.666), transparent, rgba($black, 0.666));
    > div {
        border-top: 2px solid $body-bg;
        border-right: 2px solid $body-bg;
        border-bottom: none;
        border-left: 2px solid $body-bg;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        > div:nth-child(odd) {
            background: #323131;
        }
        > div:nth-child(even) {
            background: $black;
        }
    }
}

.stories-item {
    display: block;
    
    overflow: hidden;
    
    width: 100%;

    position: relative;
    
    z-index: 0;

    &.is-empty {
        // background: $black;
        color: #C3C3C3;

        font-size: 48px;
        font-weight: bold;
        letter-spacing: 8;
        text-transform: uppercase;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        width: 100%;
        height: 100%;

        padding-left: 95px;
    }
}

.stories-item-image {
    width: 100%;
    max-width: 100%;

    position: relative;

    transform-origin: center;
    transition: transform 333ms linear;
    
    z-index: 0;

    .stories-item:hover & {
        transform: scale(1.05);
    }
}

.stories-item-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;

    padding: calculateRem(34px) calculateRem(34px) calculateRem(34px) calculateRem(16px);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 1;

    @include media-breakpoint-up(md) {
        padding-right: calculateRem(67px);
    }

    p {
        color: #C3C3C3;
        @include fontSize(18px);
        font-weight: bold;
        letter-spacing: 8;
        text-align: right;
        text-transform: uppercase;

        margin-bottom: 12px;

        @include media-breakpoint-up(md) {
            @include fontSize(24px);
        }
    }
}