.team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-right: calculateRem(-25px);

    @include media-breakpoint-up(md) {
        margin-right: 0;
    }
}

.team-tile {
    padding-right: calculateRem(25px);
    padding-bottom: calculateRem(25px);

    flex: 0 0 50%;
    max-width: 50%;

    @include media-breakpoint-up(md) {
        flex: 0 0 33%;
        max-width: 33%;
    }
}

.team-tile-image {
    width: 100%;
    max-width: 100%;

    margin-bottom: calculateRem(10px);
}

.team-tile-name,
.team-tile-role {
    font-size: 12px;
    text-transform: uppercase;
    white-space: nowrap;
    
    display: block;
}

.team-tile-name {
    font-weight: bold;
}