.welcome {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;

    padding: calculateRem(150px) 0 calculateRem(100px);

    flex: 1 0 100%;
    width: 100%;

    position: relative;
    
    z-index: 0;

    @include media-breakpoint-up(md) {
        padding: calculateRem(300px) 0 calculateRem(200px);
    }

    &:before {
        content: '';
        pointer-events: none;

        background: url(../assets/images/smoke-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        display: block;
        
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        right: 0;

        z-index: 1;
    }

    &:after {
        content: '';
        pointer-events: none;

        background: rgba($black, 0.81);

        display: block;

        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        right: 0;
        
        z-index: 2;
    }

    .container {
        position: relative;
        z-index: 3;
    }

    @include media-breakpoint-up(md) {
        min-height: 100vh;
    }
}

.welcome-brand {
    color: #818181;
    font-family: $font-family-serif;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    
    flex: 1 0 100%;
    width: 100%;
}

.welcome-brand-logo {
    width: calculateRem(70px);
    height: auto;
    @include media-breakpoint-up(md) {
        width: calculateRem(147px);
    }
}

.welcome-slogan {
    color: #818181;
    @include fontSize(16px);
    font-family: $font-family-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4;

    margin-bottom: calculateRem(50px);
    
    @include media-breakpoint-up(md) {
        @include fontSize($font-size-root);
        text-align: left;

        margin-bottom: 0;
    }
}

.welcome-menu {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    a {
        color: #818181;
        font-weight: bold;
        letter-spacing: 8;
        text-transform: uppercase;
        text-decoration: none;

        margin-bottom: 12px;

        transition: color 250ms ease-out;
        &:hover {
            color: $white;
        }
    }
    @include media-breakpoint-up(md) {
        align-items: flex-end;
    }
}