$red-100:                   #EB2627;
$red-200:                   #A91717;
$red-300:                   #810020;
$red-400:                   #2A0E10;

$purple-100:                #533A97;
$purple-200:                #432C81;
$purple-300:                #22114A;
$purple-400:                #130E1C;

$teal-100:                  #438A83;
$teal-200:                  #266E66;
$teal-300:                  #033D37;
$teal-400:                  #032521;

$green-100:                 #65B65B;
$green-200:                 #3F9244;
$green-300:                 #28743A;
$green-400:                 #235228;

$yellow-100:                #FEBC11;
$yellow-200:                #C7952C;
$yellow-300:                #6D5321;
$yellow-400:                #2B2421;

$body-bg:                   #1A1A1A;
$body-color:                #C3C3C3;

$font-size-root:              22px;
$font-family-serif:           'Cinzel', serif;
$font-family-decorative:      'Cinzel Decorative', serif;
$font-family-sans-serif:      'Montserrat', sans-serif;

$h1-font-size:                54px;
$h2-font-size:                54px;
$h3-font-size:                32px;
$h4-font-size:                24px;
$h5-font-size:                16px;
$h6-font-size:                22px;

$btn-padding-y:               24px;
$btn-padding-x:               24px;
$btn-font-size:               18px;
$btn-border-radius:           0px;
$btn-border-radius-sm:        0px;
$btn-border-radius-lg:        0px;

$input-padding-y:             29px;
$input-padding-x:             36px;
$input-bg:                  #323131;
$input-color:               #C3C3C3;
$input-border-color:        #707070;
$input-border-radius:         0px;
$input-border-radius-sm:      0px;
$input-border-radius-lg:      0px;