form#contact-us.contact
    h6.text-uppercase Let's Talk
    .form-group
        input.form-control(type="text", name="name", placeholder="Your Name")
    .form-group
        input.form-control(type="tel", name="phone", placeholder="Phone")
    .form-group
        input.form-control(type="email", name="email", placeholder="Email")
    .form-group
        textarea.form-control(name="message", placeholder="Message")
    .d-grid
        button.btn.btn-secondary(type="submit") Submit