mixin stories(id)
  .stories(id=id, class=attributes.class)
    a.stories-item(href="./detail.pug")
      img.stories-item-image(src="../assets/images/story-image-1.png", alt="Game Release Date")
      .stories-item-text
        p Game Release Date
        p 5.15.22
    a.stories-item(href="./detail.pug")
      img.stories-item-image(src="../assets/images/story-image-2.png", alt="Game Patch Release Date")
      .stories-item-text
        p Game Patch Release Date
        p 8.27.22
    a.stories-item(href="./detail.pug")
      img.stories-item-image(src="../assets/images/story-image-3.png", alt="DLC Coming")
      .stories-item-text
        p DLC Coming
        p 10.10.22
    a.stories-item(href="./detail.pug")
      img.stories-item-image(src="../assets/images/story-image-4.png", alt="New Game Coming!")
      .stories-item-text
        p New Game Coming!
        p TBD
