.welcome
    .container
        .row
            .col
                h1.welcome-brand
                    span A
                    span P
                    span H
                    img.welcome-brand-logo(src="../assets/images/aphotic-logo.svg", alt="Aphotic Arts Logo")
                    span T
                    span I
                    span C
                    span &nbsp;
                    span A
                    span R
                    span T
                    span S
        .row.g-0
            .col.col-12.col-md-7
                p.welcome-slogan Creating Stories Which Last A Lifetime.
            .col.col-12.col-md-5.text-center.text-md-end
                nav.welcome-menu
                    a(href="#" scroll-to="#news-and-updates" scroll-to-offset="-200") News &amp; Updates
                    a(href="#" scroll-to="#about-us" scroll-to-offset="-200") About Us
                    a(href="#" scroll-to="#games" scroll-to-offset="-200") Games
                    a(href="#" scroll-to="#contact-us" scroll-to-offset="-200") Contact