svg(xmlns="http://www.w3.org/2000/svg", width="25", height="25", viewBox="0 0 25 25")
  g(transform="translate(-141 -51)")
    g(transform="translate(141 51)")
      path(d="M152.719,51h1.563a.9.9,0,0,0,.161.041,11.768,11.768,0,0,1,4.923,1.428,12.342,12.342,0,0,1,6.437,8.856c.091.476.133.961.2,1.442v1.465a1.663,1.663,0,0,0-.041.21,11.753,11.753,0,0,1-1.439,4.944,12.339,12.339,0,0,1-8.866,6.419c-.469.089-.947.131-1.421.194h-1.465l-.53-.061a12.532,12.532,0,0,1-11.1-10.626c-.052-.343-.092-.688-.137-1.033V62.719a.9.9,0,0,0,.041-.161,11.767,11.767,0,0,1,1.428-4.924,12.345,12.345,0,0,1,8.856-6.438C151.785,51.108,152.254,51.065,152.719,51Zm-4.373,14.47a3.152,3.152,0,0,0,2.75,2.123,9.3,9.3,0,0,1-1.154.684,6.262,6.262,0,0,1-3.107.553.724.724,0,0,0,.19.152,8.512,8.512,0,0,0,12.82-7.515.483.483,0,0,1,.2-.426,5.618,5.618,0,0,0,1.269-1.361c-.293.1-.542.188-.8.257s-.5.111-.757.165a3.436,3.436,0,0,0,1.142-1.556l-1.652.587a.321.321,0,0,1-.368-.086,3,3,0,0,0-5.011,2.661c.011.067.008.137.013.222a8.606,8.606,0,0,1-6.165-3.128,2.8,2.8,0,0,0-.406,1.621,3.02,3.02,0,0,0,1.252,2.321l-.042.082-1.243-.352a3.069,3.069,0,0,0,2.333,2.933l-.03.062Z", transform="translate(-141 -51)", fill="#818181")