extends layout/layout.pug
include component/stories.pug

block content
  include component/page-header.pug
  .container
    .row
      .col-12
        .content-card
          img.content-card-image(src="../assets/images/story-image-1.png", alt="Game Release Date")
          .content-card-body
            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
        .content-card.is-reversed
          img.content-card-image(src="../assets/images/story-image-2.png", alt="Game Patch Release Date")
          .content-card-body
            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 