extends layout/layout.pug
include component/stories.pug

block content
  include component/welcome.pug
  +stories("news-and-updates")(class="mb-5")
  #about-us.container
    .row
      .col.col-12.col-md-5
        .team
          .team-tile
            img.team-tile-image(src="../assets/images/team-member.png", alt="Gavin McCormick")
            span.team-tile-name Gavin McCormick
            span.team-tile-role CEO
          .team-tile
            img.team-tile-image(src="../assets/images/team-member.png", alt="Gavin McCormick")
            span.team-tile-name Gavin McCormick
            span.team-tile-role CEO
          .team-tile
            img.team-tile-image(src="../assets/images/team-member.png", alt="Gavin McCormick")
            span.team-tile-name Gavin McCormick
            span.team-tile-role CEO
          .team-tile
            img.team-tile-image(src="../assets/images/team-member.png", alt="Gavin McCormick")
            span.team-tile-name Gavin McCormick
            span.team-tile-role CEO
          .team-tile
            img.team-tile-image(src="../assets/images/team-member.png", alt="Gavin McCormick")
            span.team-tile-name Gavin McCormick
            span.team-tile-role CEO
          .team-tile
            img.team-tile-image(src="../assets/images/team-member.png", alt="Gavin McCormick")
            span.team-tile-name Gavin McCormick
            span.team-tile-role CEO
          .team-tile
            img.team-tile-image(src="../assets/images/team-member.png", alt="Gavin McCormick")
            span.team-tile-name Gavin McCormick
            span.team-tile-role CEO
          .team-tile
            img.team-tile-image(src="../assets/images/team-member.png", alt="Gavin McCormick")
            span.team-tile-name Gavin McCormick
            span.team-tile-role CEO
          .team-tile
            img.team-tile-image(src="../assets/images/team-member.png", alt="Gavin McCormick")
            span.team-tile-name Gavin McCormick
            span.team-tile-role CEO
      .col.col-12.col-md-7
        h4.mb-5.text-uppercase
          span.font-serif Aphotic Arts
          br
          span Our Team
        p.mb-4.lh-lg At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
        p.lh-lg Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi  optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
  +stories("games")(class="my-5")
  .container
    .row
      .col.col-12.col-md-5
        #social-links
          h6.text-uppercase Get In Touch
          ul.social-links.nav.flex-column
            li.nav-item
              a.nav-link(href="#", target="_blank")
                include svg/twitter.svg.pug
                span Follow Us On Twitter
            li.nav-item
              a.nav-link(href="#", target="_blank")
                include svg/instagram.svg.pug
                span Follow Us On Instagram
            li.nav-item
              a.nav-link(href="#", target="_blank")
                include svg/facebook.svg.pug
                span Like Us On Facebook
      .col.col-12.col-md-6.offset-md-1
        include component/contact.pug
