footer#footer
  .container
    .row
      .col.col-12.col-md-5
        h6.text-uppercase Documentation
        p Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.