header#header
  nav.navbar.navbar-expand.navbar-dark.fixed-top
    .container
      a.navbar-brand(href="#", scroll-to="#header")
        img.navbar-brand-logo(src="../assets/images/aphotic-logo.svg", alt="Aphotic Arts")
        span.navbar-brand-text Aphotic Arts
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link(href="#", target="_blank")
            include ../svg/twitter.svg.pug
        li.nav-item
          a.nav-link(href="#", target="_blank")
            include ../svg/instagram.svg.pug
        li.nav-item
          a.nav-link(href="#", target="_blank")
            include ../svg/facebook.svg.pug
            
