html(lang="en-us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Aphotic
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
    link(rel="stylesheet", href="../styles/main.scss")
  body
    include header.pug
    block content
    include footer.pug
    script(src="../scripts/index.js")

